<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Rendering engine</th>
    <th>Browser</th>
    <th>Platform(s)</th>
    <th>Engine version</th>
    <th>CSS grade</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Trident</td>
    <td>Internet
      Explorer 4.0
    </td>
    <td>Win 95+</td>
    <td> 4</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Trident</td>
    <td>Internet
      Explorer 5.0
    </td>
    <td>Win 95+</td>
    <td>5</td>
    <td>C</td>
  </tr>
  <tr>
    <td>Trident</td>
    <td>Internet
      Explorer 5.5
    </td>
    <td>Win 95+</td>
    <td>5.5</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Trident</td>
    <td>Internet
      Explorer 6
    </td>
    <td>Win 98+</td>
    <td>6</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Trident</td>
    <td>Internet Explorer 7</td>
    <td>Win XP SP2+</td>
    <td>7</td>
    <td>A</td>
  </tr>
  
  <tr>
    <td>Misc</td>
    <td>NetFront 3.1</td>
    <td>Embedded devices</td>
    <td>-</td>
    <td>C</td>
  </tr>
  <tr>
    <td>Misc</td>
    <td>NetFront 3.4</td>
    <td>Embedded devices</td>
    <td>-</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Misc</td>
    <td>Dillo 0.8</td>
    <td>Embedded devices</td>
    <td>-</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Misc</td>
    <td>Links</td>
    <td>Text only</td>
    <td>-</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Misc</td>
    <td>Lynx</td>
    <td>Text only</td>
    <td>-</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Misc</td>
    <td>IE Mobile</td>
    <td>Windows Mobile 6</td>
    <td>-</td>
    <td>C</td>
  </tr>
  <tr>
    <td>Misc</td>
    <td>PSP browser</td>
    <td>PSP</td>
    <td>-</td>
    <td>C</td>
  </tr>
  <tr>
    <td>Other browsers</td>
    <td>All others</td>
    <td>-</td>
    <td>-</td>
    <td>U</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <th>Rendering engine</th>
    <th>Browser</th>
    <th>Platform(s)</th>
    <th>Engine version</th>
    <th>CSS grade</th>
  </tr>
  </tfoot>
</table>